@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 10% 97%; /* Alabaster */
    --foreground: 0 0% 10%; /* Charcoal */
    --card: 0 0% 100%;
    --card-foreground: 0 0% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 10%;
    --primary: 0 0% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 40 10% 90%;
    --secondary-foreground: 0 0% 10%;
    --muted: 40 10% 90%;
    --muted-foreground: 0 0% 40%;
    --accent: 40 10% 90%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 0 0% 10%;
    --radius: 0rem; /* Brutalist/Sharp edges */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
    overflow-x: hidden;
  }
  html {
    scroll-behavior: smooth;
  }
  
  /* Custom scrollbar for webkit */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #F9F8F6;
  }
  ::-webkit-scrollbar-thumb {
    background: #D4C5B0;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #A89F91;
  }
}